.game {
    background-color: white;
}
.controls {
    display: flex;
    justify-content: stretch;
}

.cardGrid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: 20%;
    padding: .5%;
    align-self: stretch;
}

.cardImage {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.scoreBoard {
    background-color: black;
    display: flex;
    height: 20%;
    width: 20%;
    margin-top: .5%;
    position: relative;
    right: 5%;
    flex-direction: column;
    justify-content: flex-start;
}

.player {
    background-color: black;
    margin: 10% 0 10% 0;
    display: flex;
    justify-content: space-around;

    font-size: 1.5em;
    font-family: Courier;
}

.statusText {
    background-color: grey;
    color: white;
    width: 100%;
    font-size: 1.5em;
    font-family: Courier;
}

.gameOver {
    background-color: green;
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 25%;
    font-size: 2em;
    font-family: Courier;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 10px;

}

.rematchButton {
    color: white;
    background-color: black;
    width: 30%;
    position: relative;
    left: 35%;
}